@page "/albumdetails/{id}"
@inherits AlbumDetailsBase
<h3>AlbumDetails</h3>
@if (Album == null || Album.Artist == null)
{
    <div class="spinner"></div>
}
else
{
<div class="row justify-content-center m-3">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h1>@Album.Name </h1>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="data:image/png;base64,@Album.AlbumArt"/>
                <h4>Artist Name : <a href="#">@($"{Album.Artist.Name} {Album.Artist.LastName}") </a></h4>
                <h4>Release Date : @Album.Date.ToString("dd-MMM-yy")</h4>
            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary">Back</a>
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
}