@page "/search"

<h1>search</h1>

<p>Search Result: @searchCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int searchCount = 0;

    private void IncrementCount()
    {
         
    }
}
