@page "/"
@inherits AlbumBase
<h3>Albums</h3>
<input type="checkbox" id="showFooter" @bind="ShowControls" @bind:event="onchange" />
<label for="showFooter">Show Footer : @SelectedEmployeesCount Selected</label>

@if (Albums == null)
{
    <div class="spinner"></div>
}
else
{

    <div class="card-deck">
        @foreach (var item in Albums)
        {
          <AlbumCard Album="item" ShowControls="ShowControls" OnAlbumSelection="AlbumSelectionChange"></AlbumCard>
        }
    </div>
}