@page "/editalbum/{id}"
@inherits EditAlbumBase


@if (Album == null || Album.Artist == null)
{
    <div class="spinner"></div>
}
else
{
    <EditForm Model="@Album">
        <h3>EditAlbum</h3>
        <hr />
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-6">
                <InputText id="name" class="form-control" placeholder="Album Name" @bind-Value="Album.Name"></InputText>
            </div>
        </div>

        <div class="form-group row">
            <label for="ArtistId" class="col-sm-2 col-form-label">Artist</label>
            <div class="col-sm-6">
                <CustomInputSelect id="ArtistId" @bind-Value="Album.ArtistId" class="form-control">
                    @foreach (var item in Artists)
                        {
                        <option value="@item.Id">@($"{item.Name} {item.LastName}")</option>
                        }  
                </CustomInputSelect>
            </div>
        </div>

        <div class="form-group row">
            <label for="ArtistDate" class="col-sm-2 col-form-label">Release Date</label>
            <div class="col-sm-6">
                <InputDate id="ArtistDate" class="form-control" placeholder="Artist Name" @bind-Value="Album.Date"></InputDate>
            </div>
        </div>
    </EditForm>
}